files_to_merge/*
!files_to_merge/.gitkeep

split_files/*
!split_files/.gitkeep

images_to_pdf/*
!images_to_pdf/.gitkeep

images_to_crop/*
!images_to_crop/.gitkeep

images_cropped/*
!images_cropped/.gitkeep

venv/
*.pdf
*.jpg
*.png